* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background:black;
}

.navbar {
    background-color: black;
    color: white;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.main-header {
    position: relative;
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
